<div class="card-container">
  <mat-card>
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" autocomplete="off">
        <app-input
          type="password"
          placeholder="Old password"
          [control]="old_password"
        ></app-input>
        <app-input
          type="password"
          placeholder="New Password"
          [control]="password"
        ></app-input>
        <app-input
          type="password"
          placeholder="Conform Password"
          [control]="confirmPassword"
        ></app-input>
        <div class="error" *ngIf="passwordMatchError">
          Password does not match
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="changePasswordForm.invalid"
        mat-raised-button
        (click)="onChangePassword()"
        color="primary"
      >
        Reset Password
      </button>
    </mat-card-actions>
  </mat-card>
</div>
