<div class="content-container">
  <h1>Welcome to Django-Angular-Auth</h1>
  <p>
    This is a sample application using Django and Angular together to build a
    simple authentication system.
  </p>
  <p>The application is using the following technologies:</p>
  <strong>Backend:</strong>
  <ul>
    <li>Django</li>
    <li>Django Rest Framework</li>
  </ul>
  <strong>Frontend:</strong>
  <ul>
    <li>Angular</li>
    <li>Angular Material</li>
  </ul>
  <strong>Database:</strong>
  <ul>
    <li>Sqlite</li>
    <li>Postgresql</li>
  </ul>
  <strong>Deployment:</strong>
  <ul>
    <li>Backend --> Heroku</li>
    <li>Frontend --> Vercel</li>
  </ul>
  <strong>Code:</strong>
  <ul>
    <li>Github</li>
  </ul>
</div>
